main {
  display: grid;
  grid-template-columns: 1fr;
  justify-self: center;
  justify-items: center;
  padding-bottom: 20px;
}

.content-title {
  font-size: 16rem;
  font-weight: 900;
  letter-spacing: 25%;
  background: linear-gradient(#ffffff3b, #ffffff00);
  -webkit-background-clip: text;
  color: transparent;
  mix-blend-mode: hard-light;
  line-height: 0.8;
}

.text-reveal,
.text-reveal .char {
  background: linear-gradient(#ffffff3b, #ffffff00);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.text-reveal {
  mix-blend-mode: hard-light;
}

.text-reveal .char {
  display: inline-block;
}

video {
  margin-top: -10px;
  margin-right: 50px;
  display: block;
  width: 100%;
  max-width: 590px;
  mix-blend-mode: lighten;
  filter: contrast(1);
}

.content-subtitle {
  font-size: 5.2rem;
  font-weight: 100;
  margin-top: -10px;
  margin-bottom: 8px;
  color: #b6b6b6;
  text-transform: uppercase;
  mix-blend-mode: screen;
  z-index: 999;
}

.content-text {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 40px;
  max-width: 47ch;
  color: #717171;
  z-index: 999;
}

@media (max-width: 600px) {
  .content-title {
    font-size: 10rem;
  }

  .content-subtitle {
    font-size: 3rem;
  }

  .content-text {
    font-size: 1.4rem;
  }
}

@media (max-width: 400px) {
  .content-title {
    padding-left: 25px;
    font-size: 8rem;
  }
  video {
    margin-right: 0px;
  }
}
